# ===== App =====
APP_NAME=Pinly API
APP_ENV=development

# ===== JWT =====
# generar con: python -c "import secrets; print(secrets.token_urlsafe(64))"
SECRET_KEY=cambiame_genera_uno_seguro
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=180

# ===== AWS (se llena el jueves cuando exista el bucket) =====
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=